<launch>
    <include file="$(find perception)/launch/camera_transform_tf.launch" />
    <node pkg="perception" type="filter_pointcloud_node" name="filter_pointcloud" output="screen" />
    <node pkg="perception" type="block_detection_node" name="block_detection" output="screen" />
    <node pkg="perception" type="table_detection_node" name="table_detection" output="screen" />
</launch>