
<launch>

    <!-- <include file="/home/giordanoarcieri/catkin_ws/src/baxter/baxter_moveit_config/launch/move_group.launch" />    -->
    <remap from="/joint_states" to="/robot/joint_states"/>
    <!-- <node pkg="move_bax" type="hello_node" name="say_hello" output="screen" /> -->
    <node pkg="move_bax" type="to_blocks_node" name="go_to_blocks" output="screen" /> 


</launch>